//
// Variables
// --------------------------------------------------

//== Size
//
@app-max-width:                 720px;
@bottom-toobar-height:          40px;
@owner-top-bar-height:          40px;
@top-toolbar-height:            35px;

@search-item-height:            80px;

//color
@color-primary:                 #0097A7;
@color-accent:                  #EF6C00;
@color-grey:                    #9E9E9E;
@color-grey-100:                #F5F5F5;
@color-grey-200:                #EEEEEE;
@color-grey-300:                #E0E0E0;
@color-grey-400:                #BDBDBD;
@color-grey-500:                #9E9E9E;            