@{
}
<!DOCTYPE html>

<html lang="en" ng-app="greenspotStall" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <base href="/">
    <title>管理地址</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="/static/lib/angular-material/angular-material.min.css">
    <!-- platform stylesheet -->

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/customer.less">
    }
    else
    {
        <link rel="stylesheet" href="/Static/css/stall.min.css">
    }

</head>
<body ng-controller="CustomerController as custCtrl" ng-init="custCtrl.init_address()">
    <form name="formNewAddress" novalidate ng-submit="formNewAddress.$valid && custCtrl.addAddress()">
        <div layout="row">
            <md-input-container flex>
                <label>地址</label>
                <input id="address" name="address" required ng-model="custCtrl.newAddress.Address1" ng-maxlength="200">
                <div ng-messages="formNewAddress.address.$error">
                    <div ng-message="required">请输入地址</div>
                </div>
            </md-input-container>
        </div>
        <div>
            <select name="suburb" ng-model="custCtrl.newAddress.Suburb" flex>
                <option value='Albany'>Albany</option>
                <option value='Auckland Central'>Auckland Central</option>
                <option value='Avondale'>Avondale</option>
                <option value='Beach Haven'>Beach Haven</option>
                <option value='Birkdale'>Birkdale</option>
                <option value='Birkenhead'>Birkenhead</option>
                <option value='Blockhouse Bay'>Blockhouse Bay</option>
                <option value='Browns Bay'>Browns Bay</option>
                <option value='Castor Bay'>Castor Bay</option>
                <option value='Clendon Park'>Clendon Park</option>
                <option value='Conifer Grove'>Conifer Grove</option>
                <option value='Devonport'>Devonport</option>
                <option value='Ellerslie'>Ellerslie</option>
                <option value='Epsom'>Epsom</option>
                <option value='Favona'>Favona</option>
                <option value='Flat Bush'>Flat Bush</option>
                <option value='Forrest Hill'>Forrest Hill</option>
                <option value='Freemans Bay'>Freemans Bay</option>
                <option value='Glen Eden'>Glen Eden</option>
                <option value='Glen Innes'>Glen Innes</option>
                <option value='Glendene'>Glendene</option>
                <option value='Glendowie'>Glendowie</option>
                <option value='Glenfield'>Glenfield</option>
                <option value='Goodwood Heights'>Goodwood Heights</option>
                <option value='Green Bay'>Green Bay</option>
                <option value='Greenhithe'>Greenhithe</option>
                <option value='Greenlane'>Greenlane</option>
                <option value='Grey Lynn'>Grey Lynn</option>
                <option value='Henderson'>Henderson</option>
                <option value='Herne Bay'>Herne Bay</option>
                <option value='Hillsborough'>Hillsborough</option>
                <option value='Hobsonville'>Hobsonville</option>
                <option value='Kelston'>Kelston</option>
                <option value='Kohimarama'>Kohimarama</option>
                <option value='Mairangi Bay'>Mairangi Bay</option>
                <option value='Mangere'>Mangere</option>
                <option value='Mangere Bridge'>Mangere Bridge</option>
                <option value='Manukau Central'>Manukau Central</option>
                <option value='Manurewa'>Manurewa</option>
                <option value='Massey'>Massey</option>
                <option value='Meadowbank'>Meadowbank</option>
                <option value='Milford'>Milford</option>
                <option value='Mission Bay'>Mission Bay</option>
                <option value='Mt Albert'>Mt Albert</option>
                <option value='Mt Eden'>Mt Eden</option>
                <option value='Mt Roskill'>Mt Roskill</option>
                <option value='Mt Wellington'>Mt Wellington</option>
                <option value='Murrays Bay'>Murrays Bay</option>
                <option value='New Lynn'>New Lynn</option>
                <option value='New Windsor'>New Windsor</option>
                <option value='Northcote Point'>Northcote Point</option>
                <option value='One Tree Hill'>One Tree Hill</option>
                <option value='Onehunga'>Onehunga</option>
                <option value='Orakei'>Orakei</option>
                <option value='Otahuhu'>Otahuhu</option>
                <option value='Otara'>Otara</option>
                <option value='Panmure'>Panmure</option>
                <option value='Papakura'>Papakura</option>
                <option value='Papatoetoe'>Papatoetoe</option>
                <option value='Parnell'>Parnell</option>
                <option value='Point England'>Point England</option>
                <option value='Ponsonby'>Ponsonby</option>
                <option value='Ranui'>Ranui</option>
                <option value='Remuera'>Remuera</option>
                <option value='Rothesay Bay'>Rothesay Bay</option>
                <option value='Royal Heights'>Royal Heights</option>
                <option value='Royal Oak'>Royal Oak</option>
                <option value='Sandringham'>Sandringham</option>
                <option value='St Heliers'>St Heliers</option>
                <option value='St Johns'>St Johns</option>
                <option value='Sunnynook'>Sunnynook</option>
                <option value='Sunnyvale'>Sunnyvale</option>
                <option value='Swanson'>Swanson</option>
                <option value='Takanini'>Takanini</option>
                <option value='Takapuna'>Takapuna</option>
                <option value='Te Atatu Peninsula'>Te Atatu Peninsula</option>
                <option value='Te Atatu South'>Te Atatu South</option>
                <option value='Three Kings'>Three Kings</option>
                <option value='Titirangi'>Titirangi</option>
                <option value='Torbay'>Torbay</option>
                <option value='Waterview'>Waterview</option>
                <option value='Wattle Downs'>Wattle Downs</option>
                <option value='West Harbour'>West Harbour</option>
                <option value='Westmere'>Westmere</option>
                <option value='Weymouth'>Weymouth</option>
                <option value='Whenuapai'>Whenuapai</option>
            </select>
            <select name="city" ng-model="custCtrl.newAddress.City" flex>
                <option>Auckland</option>
            </select>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>姓</label>
                <input name="lastName" required ng-model="custCtrl.newAddress.LastName" ng-maxlength="50">
                <div ng-messages="formNewAddress.lastName.$error">
                    <div ng-message="required">请输入姓</div>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>名</label>
                <input name="firstName" required ng-model="custCtrl.newAddress.FirstName" ng-maxlength="50">
                <div ng-messages="formNewAddress.firstName.$error">
                    <div ng-message="required">请输入名</div>
                </div>
            </md-input-container>
            <md-input-container flex="50">
                <label>手机</label>
                <input name="mobile" required ng-model="custCtrl.newAddress.Mobile" ng-pattern="/^02\d{6,8}$/">
                <div ng-messages="formNewAddress.mobile.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        请检查手机号码
                    </div>
                </div>
            </md-input-container>
        </div>
        <div layout="column" layout-align="center center">
            <md-button type="submit" class="md-raised md-primary" ng-disabled="!formNewAddress.$valid">添加</md-button>
        </div>
    </form>
    <md-content id="checkout-content">
        <div class="delivery-info">
            <div class="address-option" ng-repeat="addr in custCtrl.deliveryAddresses">
                <hr />
                <div class="address-text">
                    <div>{{addr.FirstName}} {{addr.LastName}}, {{addr.Mobile}}</div>
                    <div>{{addr.Address1}}  {{addr.Address2}}</div>
                    <div>{{addr.Suburb}}, {{addr.City}}</div>
                </div>
            </div>
        </div>

    </md-content>
    <div id="map_canvas" style="width:720px;height:600px;display:none;"></div>
    <!-- 3rd party libraries -->
    <script type="text/javascript" src="/Static/lib/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/Static/lib/js-cookie/src/js.cookie.js"></script>

    <!-- owner scripts -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/Static/js/stall.min.js"></script>
    }
</body>
</html>