@{
//var _orders = (Greenspot.Stall.Models.ViewModels.OrderCollectionViewModel)ViewBag.Orders;
//var _orderJson = Newtonsoft.Json.JsonConvert.SerializeObject(_orders);
//var _isAdmin = User.IsInRole("Admin");
}
<!DOCTYPE html>
<html lang="en" ng-app="greenspotStall" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">
    <title>确认订单</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css" />

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/customer.less">
        <link rel="stylesheet/less" href="/Content/less/home.less">
    }
    else
    {
        <link rel="stylesheet" href="/static/css/stall.min.css">
    }
</head>
<body ng-controller="CustomerController as custCtrl" ng-init="custCtrl.init_checkout()">
    <!-- address -->
    <md-content id="checkout-content">
        <div class="checkout-section">
            <div class="caption">配送地址</div>
            <md-radio-group ng-model="custCtrl.selectedDeliveryAddress" ng-change="custCtrl.deliveryAddressChanged()">
                <div ng-repeat='addr in custCtrl.deliveryAddresses' class="row">
                    <md-radio-button flex ng-value="addr" class="md-primary delivery-address">
                        <span class="delivery-address-name">{{addr.Name}}, {{addr.Mobile}}</span>
                        {{addr.FullAddress}}
                    </md-radio-button>
                </div>
            </md-radio-group>
            <div style="text-align:center;width:100%"><a href="/customer/addresses" md-colors="{color: 'accent'}">添加地址</a></div>
        </div>

        <!-- stalls -->
        <div class="checkout-section" checkout-stall" ng-repeat="order in custCtrl.orders">
            <!-- name -->
            <div class="checkout-item" layout="row" layout-align="space-between center">
                <div class="caption">
                    {{order.n}}
                </div>
                <!-- delivery option -->
                <div class="checkout-item switcher">
                    <div class="switcher-item" ng-if="order.hasDeliveryOption()" ng-class="{'switch-on': !order.isPickup}" ng-click="order.deliveryOrPickupChanged(false)">配送</div>
                    <div class="switcher-item" ng-if="order.hasPickUpOption()" ng-class="{'switch-on': order.isPickup}" ng-click="order.deliveryOrPickupChanged(true)">自提</div>
                </div>
            </div>

            <!-- delivery message -->
            <div class="message" ng-if="!order.hasDeliveryOption() && !order.hasPickUpOption()">当前地址最近没有配送计划</div>
            <div class="message" ng-if="!order.hasDeliveryOption() && order.hasPickUpOption()">当前地址最近没有配送计划，仅限自提</div>


            <!-- pickup address -->
            <div ng-if="order.hasPickUpOption()" class="checkout-item" layout="row" layout-align="space-between center">
                <div class="item-name">地址</div>
                <div class="item-content">
                    <select ng-options="(addrGrp.Groups[0].Options[0].PickUpAddress) for addrGrp in order.pickUpOptionCollections"
                            ng-model="order.selectedPickupAddressOptions" ng-change="order.pickupAddressChanged()"></select>
                </div>
            </div>

            <!-- date / time -->
            <div ng-if="order.hasDeliveryOption() || order.hasPickUpOption()" class="checkout-item" layout="row" layout-align="space-between center">
                <div class="item-name">时间</div>
                <div class="item-content">
                    <!--date-->
                    <select ng-options="(collection.Options[0].From|date:'EEE dMMM') for collection in order.dateOptionCollections"
                            ng-model="order.selectedDateOptions" ng-change="order.dateOptionCollectionChanged()"></select>
                    <!--time-->
                    <select ng-options="((opt.From|date:'HH:mm')+'-'+(opt.To|date:'HH:mm')+' '+(opt.Fee|currency:$)) for opt in order.selectedDateOptions.Options"
                            ng-model="order.selectedDeliveryOrPickupOption"></select>
                </div>
            </div>

            <!-- items -->
            <div class="checkout-item" ng-repeat="item in order.itms track by item.i" layout="row" layout-align="space-between center">
                <div class="item-name">{{item.n}}</div>
                <div class="item-content">
                    {{item.p|currency:$}} x{{item.q}}
                </div>
            </div>
            <!-- delivery -->
            <div class="checkout-item" ng-if="order.selectedDeliveryOrPickupOption" layout="row" layout-align="space-between center">
                <div class="item-name">运费</div>
                <div class="item-content">
                    {{order.selectedDeliveryOrPickupOption.Fee|currency:$}}
                </div>
            </div>

            <!-- total -->
            <div class="checkout-item" layout="row" layout-align="space-between center">
                <div class="item-name">合计(含GST)</div>
                <div class="item-content">
                    {{order.totalAmount()|currency:$}}
                </div>
            </div>

            <!-- note -->
            <div class="checkout-item" layout="row" layout-align="space-between center">
                <div class="item-name" flex="10">留言</div>
                <input type="text" ng-model="order.note" flex />
            </div>
        </div>

        <!-- message -->
        <div ng-messages="custCtrl.error" role="alert">
            <div ng-message="outOfStock" class="out-of-stock-error">
                <div ng-repeat="p in custCtrl.error.outOfStockData">
                    <span class="product-name">{{p.StallName}}-{{p.ProductName}}</span>库存不足，只余<span class="stock">{{p.Stock}}</span>份
                </div>
            </div>
            <div ng-message="other">
                {{custCtrl.error.message}}
            </div>
        </div>
        <!-- operation -->
        <div class="checkout-operate" layout="row">
            <md-button flex="100" ng-click="custCtrl.pay()" class="md-raised md-primary"
                       ng-disabled="!custCtrl.allDeliverySelected()">
                确认付款
            </md-button>
        </div>
    </md-content>

    <!-- 3rd party stylesheet -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="/Content/middle-js/cart.js"></script>
        <script type="text/javascript" src="/Content/middle-js/order.js"></script>
        <script type="text/javascript" src="/Content/middle-js/Utilities.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer.controller.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/home.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/static/js/stall.min.js"></script>
    }
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-84935019-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>

</html>
