@{
    var _order = (Greenspot.Stall.Models.ViewModels.OrderViewModel)ViewBag.Order;
    var _orderJson = Newtonsoft.Json.JsonConvert.SerializeObject(_order);
}
<!DOCTYPE html>

<html lang="en" ng-app="greenspotStall" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <base href="/">
    <title>确认订单</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="/static/lib/angular-material/angular-material.min.css">
    <!-- platform stylesheet -->

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/customer.less">
    }
    else
    {
        <link rel="stylesheet" href="/Static/css/stall.min.css">
    }
</head>
<body ng-controller="CustomerController as custCtrl" ng-init="custCtrl.init_checkout(@_orderJson)">
    <md-content id="checkout-content">
        <div class="delivery-info">
            送货地址
            <a href="/customer/addresses" class="button address-mng-btn">添加</a>

            <div class="address-option" ng-repeat="addr in custCtrl.deliveryAddresses">
                <div class="address-radio">
                    <input type="radio" ng-model="custCtrl.order.deliveryAddress" ng-value="addr"
                           ng-change="custCtrl.SelectDeliveryAddress()" />
                </div>
                <div class="address-text">
                    <div>{{addr.FirstName}} {{addr.LastName}}, {{addr.Mobile}}</div>
                    <div>{{addr.Address1}}  {{addr.Address2}}</div>
                    <div>{{addr.Suburb}}, {{addr.City}}</div>
                </div>
            </div>
            <div class="address-option" ng-if="custCtrl.deliveryAddresses.length==0">
                请<a href="#" class="button address-mng-btn">添加</a>送货地址
            </div>
            配送时间
            <div>
                <div class="address-option" ng-repeat="opt in custCtrl.deliverySchedule">
                    <div class="address-radio">
                        <input type="radio" ng-model="custCtrl.order.deliveryOption" ng-value="opt"
                               ng-change="custCtrl.SelectDeliveryOption()" />
                    </div>
                    <div class="address-text">
                        <div><span ng-if="opt.IsPickUp">[自提]</span>{{opt.From|date:'EEE dMMM h:mma'}}-{{opt.To|date:'h:mma'}}</div>
                        <div ng-if="opt.IsPickUp">{{opt.PickUpAddress}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkout-note">
            留言|备注
            <div class="note-text">
                <textarea ng-model="custCtrl.order.note"></textarea>
            </div>
        </div>
        <div class="checkout-stall">
            <div class="stall-name">{{custCtrl.order.stall.n}}</div>
            <div class="checkout-item" ng-repeat="item in custCtrl.order.stall.itms track by item.i">
                <div class="checkout-item-desc">
                    <div class="desc-name">{{item.n}}</div>
                    <span class="desc-option">{{item.v}}</span>
                    <span class="desc-unit-price">{{item.p|currency:$}}</span>
                    <span class="desc-qty">x{{item.q}}</span>
                </div>
                <div class="checkout-item-total-price">{{item.p*item.q|currency:$}}</div>
            </div>
            <div class="checkout-item" ng-if="custCtrl.order.deliveryFee>0">
                <div class="checkout-item-desc">
                    <div class="desc-name">运费</div>
                </div>
                <div class="checkout-item-total-price">{{custCtrl.order.deliveryFee|currency:$}}</div>
            </div>
        </div>
    </md-content>
    <div id="bottom-toolbar" ng-if="custCtrl.order.stall.qty>0" layout="row" layout-align="end center">
        <span class="cart-amount" flex>总金额: {{custCtrl.order.amount|currency:$}}</span>
        <!--a href="#" class="btn btn-danger" ng-click="storeCtrl.cart.empty()">Empty</a-->
        <md-button ng-click="custCtrl.pay()" class="md-raised md-primary" flex
                   ng-disabled="!custCtrl.order.deliveryAddress || !custCtrl.order.deliveryOption || custCtrl.order.deliveryFee==null">
            确认付款
        </md-button>
    </div>

    <!-- 3rd party libraries -->
    <script type="text/javascript" src="/Static/lib/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/Static/lib/js-cookie/src/js.cookie.js"></script>

    <!-- owner scripts -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/Static/js/stall.min.js"></script>
    }
</body>
</html>