@{
    var _orders = (Greenspot.Stall.Models.ViewModels.OrderCollectionViewModel)ViewBag.Orders;
    var _orderJson = Newtonsoft.Json.JsonConvert.SerializeObject(_orders);
    var _isAdmin = User.IsInRole("Admin");
}
<!DOCTYPE html>

<html lang="en" ng-app="greenspotStall" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <base href="/">
    <title>确认订单</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.css">
    <!-- platform stylesheet -->

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/customer.less">
    }
    else
    {
        <link rel="stylesheet" href="/Static/css/stall.min.css">
    }
</head>
<body ng-controller="CustomerController as custCtrl" ng-init="custCtrl.init_checkout(@_orderJson)">
    <md-content id="checkout-content">
        <div class="checkout-section">
            <h5 class="caption">送货地址 <a href="/customer/addresses" md-colors="{color: 'accent'}">添加</a></h5>
            <md-radio-group ng-model="custCtrl.deliveryAddress" ng-change="custCtrl.selectDeliveryAddress()">
                <div ng-repeat='addr in custCtrl.deliveryAddresses' class="row">
                    <md-radio-button flex ng-value="addr" class="md-primary delivery-address">
                        <span class="delivery-address-name">{{addr.Name}}, {{addr.Mobile}}</span>
                        {{addr.FullAddress}}
                    </md-radio-button>
                </div>
                <div class="row" ng-if="custCtrl.pickUpOptionCollections.length>0">
                    <md-radio-button flex value='pickup' class="md-primary delivery-address">
                        <span class="delivery-address-name">自提</span>
                    </md-radio-button>
                </div>
            </md-radio-group>
        </div>
        <md-divider></md-divider>
        <div class="checkout-section checkout-stall" ng-repeat="order in custCtrl.orders">
            <!-- name -->
            <h5 class="caption">
                {{order.n}}
            </h5>

            <!-- delivery -->
            <div ng-if="!order.isPickUp">
                <span>送货时间</span>
                <!--date-->
                <select ng-options="(collection.Date|date:'EEE dMMM') for collection in order.deliveryOptionCollections"
                        ng-model="order.selectedDeliveryOptionCollection" ng-if="!order.isPickUp" ng-change="custCtrl.selectDeliveryDate(order)"></select>
                <!--time-->
                <select ng-options="((opt.From|date:'H:mm')+'-'+(opt.To|date:'H:mm')+' '+(opt.Fee|currency:$)) for opt in order.selectedDeliveryOptionCollection.ApplicableOpts"
                        ng-model="order.deliveryOption" ng-change="custCtrl.selectDeliveryOption(order)"></select>
            </div>

            <div class="checkout-section" ng-if="!order.isPickUp && order.deliveryOptionCollections.length==0">
                <h5 class="caption">该地址最近没有配送计划</h5>
            </div>
            <div class="checkout-section" ng-if="order.isPickUp || order.deliveryOptionCollections.length>0">

                <!--pick up-->
                <h5 class="caption" ng-if="order.isPickUp">
                    自提时间
                </h5>
                <select ng-options="(collection.Date|date:'EEE dMMM') for collection in order.pickUpOptionCollections"
                        ng-model="order.selectedDeliveryOptionCollection" ng-if="order.isPickUp" ng-change="custCtrl.selectDeliveryDate(order)"></select>
                <h5 class="caption" ng-if="order.isPickUp">
                    自提地址
                </h5>
                <span class="pickup-address">{{order.deliveryOption.PickUpAddress}}</span>
            </div>
            <div class="checkout-item" ng-repeat="item in order.itms track by item.i">
                <div class="checkout-item-desc">
                    <div class="desc-name">{{item.n}}</div>
                    <span class="desc-option">{{item.v}}</span>
                    <span class="desc-unit-price">{{item.p|currency:$}}</span>
                    <span class="desc-qty">x{{item.q}}</span>
                </div>
                <div class="checkout-item-total-price">{{item.p*item.q|currency:$}}</div>
            </div>
            <div class="checkout-item" ng-if="order.deliveryOption">
                <div class="checkout-item-desc">
                    <div class="desc-name">运费</div>
                </div>
                <div class="checkout-item-total-price">{{order.deliveryOption.Fee|currency:$}}</div>
            </div>
            <!-- note -->
            <div class="checkout-section checkout-note">
                <span>留言</span>
                <input type="text" ng-model="custCtrl.order.note" />
            </div>
            <div class="checkout-item">
                <div class="checkout-item-desc">
                    <div class="desc-name">总金额</div>
                </div>
                <div class="checkout-item-total-price">{{custCtrl.order.amount|currency:$}}</div>
            </div>
        </div>
        <div class="checkout-operate" layout="row">
            <md-button flex="100" ng-click="custCtrl.pay()" class="md-raised md-primary"
                       ng-disabled="!custCtrl.order.deliveryAddress || !custCtrl.order.deliveryOption">
                确认付款
            </md-button>
            @if (_isAdmin)
            {
                <a ng-click="custCtrl.fakePay()">Success</a>
                <a href="">Pay Fail</a>
            }
        </div>
    </md-content>

    <!-- 3rd party libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>

    <!-- owner scripts -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/cart.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/Static/js/stall.min.js"></script>
    }
</body>
</html>