@{
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    Page.Title = "我的小铺";
    var _stalls = (IList<Greenspot.Stall.Models.Stall>)ViewBag.Stalls;
}
<md-content layout-padding>
    @foreach (var s in _stalls)
    {
        <md-card ng-click="ownerCtrl.gotoUrl('@string.Format("/owner/setting/{0}", @s.Id)')">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">@s.Name</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    @string.Format("{0}, {1}, {2}", s.PhysicalAddress1, s.PhysicalSuburb, s.PhysicalCity)
                </p>
            </md-card-content>
        </md-card>
    }
</md-content>
