<md-dialog ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>选择区域</h3>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-button ng-click="answer({en:'Auckland City',cn:'City'})" flex="33">
                    City
                </md-button>
                <md-button ng-click="answer({en:'Central Auckland',cn:'中区'})" flex="33">
                    中区
                </md-button>
                <md-button ng-click="answer({en:'East Auckland',cn:'东区'})" flex="33">
                    东区
                </md-button>

                <md-button ng-click="answer({en:'North Shore',cn:'北岸'})" flex="33">
                    北岸
                </md-button>
                <md-button ng-click="answer({en:'South Auckland',cn:'南区'})" flex="33">
                    南区
                </md-button>
                <md-button ng-click="answer({en:'West Auckland',cn:'西区'})" flex="33">
                    西区
                </md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>