/* Stall Home Page */
#stall-header {
  padding: 10px;
  background-color: #0097A7;
}
#stall-header > img {
  display: inline-block;
  width: 40%;
}
#stall-header .info {
  float: right;
  width: 60%;
  text-align: center;
}
#stall-header .info > div {
  color: #F5F5F5;
  font-size: 2rem;
  font-weight: bold;
}
#stall-header .info > button {
  border: none;
  color: #E0E0E0;
  background-color: #0097A7;
  font-size: 1rem;
}
/* Product Page*/
#product-content {
  padding-bottom: 20px;
}
#product-content > img {
  width: 100%;
}
#product-content .line {
  padding: 5px 5px 10px 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  align-items: center;
  -webkit-align-items: center;
}
#product-content .line .sel-quantity {
  font-size: 1.5rem;
}
#product-content .line .text-name {
  font-weight: bold;
  font-size: 1.5rem;
}
#product-content .line .text-price {
  font-size: 2rem;
  color: #0097A7;
}
#product-content .line .align-left {
  text-align: left;
}
#product-content .line .align-right {
  text-align: right;
  flex: auto;
  -webkit-flex: auto;
}
#product-content .line .btn-2line {
  display: inline-block;
  text-align: center;
  width: 30px;
}
#product-content .line .btn-2line .caption {
  line-height: 0.8rem;
  font-size: 0.8rem;
}
/* Cart Page */
#cart-content {
  padding: 5px;
}
#cart-content md-checkbox {
  padding: 0px;
  margin: 0px;
}
#cart-content .cart-stall .cart-item {
  vertical-align: middle;
  padding-left: 30px;
  height: 24px;
}
#cart-content .cart-stall .cart-item .item-price {
  width: 40px;
}
#cart-content .cart-stall .cart-item .qty-lbl {
  padding: 0px;
}
#cart-content .cart-stall .cart-item .md-button {
  margin: 5px;
  padding: 0px;
  width: 24px;
  min-width: 24px;
}
#cart-content .cart-stall .cart-item .md-icon {
  width: 20px;
  height: 20px;
}
#checkout-content {
  padding: 0px 15px 0px 15px;
}
#checkout-content .checkout-section {
  font-size: 0.9rem;
  padding: 0px 0px 10px 0px;
  border-bottom: 1px dotted black;
}
#checkout-content .checkout-section:nth-child(n+2) {
  margin-top: 5px;
}
#checkout-content .checkout-section .caption {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 3px;
}
#checkout-content .checkout-section .pickup-address {
  line-height: 12px;
}
#checkout-content .checkout-section .delivery-address {
  margin-top: 0px;
  margin-bottom: 0px;
}
#checkout-content .checkout-section .delivery-address .delivery-address-name {
  display: block;
  font-weight: bold;
}
#checkout-content .checkout-section .checkout-item {
  padding: 0px;
  margin-top: 5px;
  vertical-align: middle;
}
#checkout-content .checkout-section .checkout-item .item-price-qty {
  text-align: right;
}
#checkout-content .checkout-section .checkout-note textarea {
  width: 100%;
  height: 60px;
}
#checkout-content .checkout-section .switcher {
  display: inline-block;
  border: 1px solid #E0E0E0;
}
#checkout-content .checkout-section .switcher .switcher-item {
  padding: 2px 8px 2px 8px;
  display: inline-block;
}
#checkout-content .checkout-section .switcher .switcher-item.switch-on {
  color: white;
  background-color: #0097A7;
}
#checkout-content .out-of-stock-error {
  width: 100%;
  text-align: center;
}
#checkout-content .out-of-stock-error .product-name {
  color: #EF6C00;
}
#checkout-content .out-of-stock-error .stock {
  color: #EF6C00;
}
#order-content {
  font-size: 0.9rem;
}
#order-content table {
  width: 100%;
}
#order-content table thead {
  font-weight: bold;
}
#formNewAddress input {
  font-size: 11px;
}
.AddrAutoCompleteBox {
  list-style: none outside;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  background-color: #eee;
  z-index: 999;
}
