/* global */
html,
body {
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
