.ProductList {
  padding: 5px;
}
.ProductList md-grid-tile {
  height: 80px;
  margin-top: 5px;
}
.ProductList md-grid-tile md-grid-tile-header {
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}
.ProductList md-grid-tile md-grid-tile-footer {
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}
.ProductList IMG {
  width: 80px;
}
