<!DOCTYPE html>
<html>
<head>
    <title>Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.js"></script>

</head>
<body>
    <md-content>
        dasfds
    </md-content>
    <md-toolbar class="md-tall md-warn md-hue-3">
        <span flex></span>
        <h2 class="md-toolbar-tools">
            <span class="md-flex">Toolbar: tall with actions pin to the bottom (md-warn md-hue-3)</span>
        </h2>
    </md-toolbar>
</body>
</html>
