//
// Variables
// --------------------------------------------------

//== Size
//
@app-max-width:                 900px;
@owner-top-bar-height:          40px;
@top-toolbar-height:            35px;
@bottom-toobar-height:          40px;
@search-item-height:            80px;

//color
@color-primary:                 #0097A7;
@color-accent:                  #FF9800;
@color-grey:                    #9E9E9E;
@color-grey-200:                #EEEEEE;
@color-grey-300:                #E0E0E0;
@color-grey-400:                #BDBDBD;
@color-grey-500:                #9E9E9E;