//
// Variables
// --------------------------------------------------

//== Size
//
@app-max-width:                 900px;
@owner-top-bar-height:          40px;
@top-toolbar-height:            35px;
@bottom-toobar-height:          50px;
@search-item-height:            80px;

//color
@color-primary:                 #0097A7;
@color-accent:                  #FFAB40;
@color-grey:                    #8d8d8d;