@import "_variables.less";

#cart-content {
    padding: 5px;

    & md-checkbox {
        padding: 0px;
        margin: 0px;
    }

    & .cart-stall {
        font-size: 12px;

        & .stall-name {
        }

        & .cart-item {
            vertical-align: middle;
            padding-left: 30px;
            height: 24px;

            & .item-name {
            }

            & .item-price {
                width: 40px;
            }

            & .qty-lbl {
                font-size: 16px;
                padding: 0px;
            }

            & .md-button {
                margin: 5px;
                padding: 0px;
                width: 24px;
                min-width: 24px;
            }

            & .md-icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}

#checkout-content {
    padding: 0px 15px 0px 15px;

    & .checkout-section {
        & .caption {
            margin-top: 5px;
            margin-bottom: 3px;
        }

        & select {
            font-size: 12px;
        }
    }

    & .pickup-address {
        font-size: 12px;
        line-height: 12px;
    }

    & .delivery-address {
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 5px;

        .delivery-address-name {
            display: block;
            font-weight: bold;
        }
    }

    & .checkout-stall {
        &:nth-child(n+2) {
            margin-top: 5px;
        }

        & .stall-name {
            border-bottom: 1px solid #d8d8d8;
            margin-bottom: 3px;
        }

        & .checkout-item {
            padding-bottom: 2px;
            vertical-align: middle;

            &:nth-child(n+3) {
                padding: 5px 0px 3px 0px;
                border-top: 1px dashed #d8d8d8;
            }

            & .checkout-item-desc {
                display: inline-block;
                line-height: 12px;

                &.desc-name {
                    font-size: 12px;
                    font-weight: bold;
                }

                & .desc-option {
                    margin-top: 3px;
                    font-size: 11px;
                    color: @color-grey;
                }

                & .desc-unit-price {
                    font-size: 11px;
                    color: @color-primary;
                }

                & .desc-qty {
                    font-size: 11px;
                    color: @color-primary;
                }
            }

            & .checkout-item-total-price {
                font-size: 14px;
                font-weight: bold;
                float: right;
            }
        }
    }

    & .checkout-note {
        & textarea {
            width: 100%;
            height: 60px;
        }
    }
}

#order-content {
    font-size: 12px;

    & table {
        width: 100%;

        & thead {
            font-weight: bold;
        }
    }
}

#detail-content {
    position: fixed;
    width: 100%;
    max-width: @app-max-width;
    top: 0px;
    bottom: @bottom-toobar-height;
    overflow-x: hidden;
    overflow-y: auto;
}

#formNewAddress {
    & input {
        font-size: 11px;
    }
}

.AddrAutoCompleteBox {
    list-style: none outside;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    z-index: 999;
}
