@import "_variables.less";

/* Stall Home Page */
#stall-header {
    padding: 10px;
    background-color: @color-primary;

    & > img {
        display: inline-block;
        width: 40%;
    }

    & .info {
        float: right;
        width: 60%;
        text-align: center;

        & > div {
            color: @color-grey-100;
            font-size: 24px;
            font-weight: bold;
        }

        & > button {
            border: none;
            color: @color-grey-300;
            background-color: @color-primary;
            font-size: 11px;
        }
    }
}

/* Product Page*/
#product-content {
    padding-bottom: 20px;

    & > img {
        width: 100%;
    }

    & .line {
        padding: 5px 5px 10px 10px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row;
        flex-flow: row;
        align-items: center;
        //justify-content: center;
        & .sel-quantity {
            font-size: 1.5rem;
        }

        & .text-name {
            font-weight: bold;
            font-size: 1.5rem;
        }

        & .text-price {
            font-size: 2rem;
            color: @color-primary;
        }

        & .align-left {
            text-align: left;
        }

        & .align-right {
            text-align: right;
            flex: auto;
        }

        & .btn-2line {
            display: inline-block;
            text-align: center;
            width: 30px;

            & > md-icon {
            }

            & .caption {
                line-height: 0.8rem;
                font-size: 0.8rem;
            }
        }
    }
}

/* Cart Page */
#cart-content {
    padding: 5px;

    & md-checkbox {
        padding: 0px;
        margin: 0px;
    }

    & .cart-stall {

        & .stall-name {
        }

        & .cart-item {
            vertical-align: middle;
            padding-left: 30px;
            height: 24px;

            & .item-name {
            }

            & .item-price {
                width: 40px;
            }

            & .qty-lbl {
                padding: 0px;
            }

            & .md-button {
                margin: 5px;
                padding: 0px;
                width: 24px;
                min-width: 24px;
            }

            & .md-icon {
                width: 20px;
                height: 20px;
            }
        }
    }
}

#checkout-content {
    padding: 0px 15px 0px 15px;


    & .checkout-section {
        font-size: 12px;
        padding: 0px 0px 10px 0px;
        border-bottom: 1px dotted black;

        &:nth-child(n+2) {
            margin-top: 5px;
        }

        & .caption {
            font-weight: bold;
            margin-top: 5px;
            margin-bottom: 3px;
        }

        & .pickup-address {
            line-height: 12px;
        }

        & .delivery-address {
            margin-top: 0px;
            margin-bottom: 0px;

            .delivery-address-name {
                display: block;
                font-weight: bold;
            }
        }

        & .checkout-item {
            padding: 0px;
            margin-top: 5px;
            vertical-align: middle;

            & .item-name {
            }

            & .item-price-qty {
                text-align: right;
            }
        }

        & .checkout-note {
            & textarea {
                width: 100%;
                height: 60px;
            }
        }

        & .switcher {
            display: inline-block;
            border: 1px solid @color-grey-300;

            & .switcher-item {
                padding: 2px 8px 2px 8px;
                display: inline-block;

                &.switch-on {
                    color: white;
                    background-color: @color-primary;
                }
            }
        }
    }
}

#order-content {
    font-size: 12px;

    & table {
        width: 100%;

        & thead {
            font-weight: bold;
        }
    }
}

#formNewAddress {
    & input {
        font-size: 11px;
    }
}

.AddrAutoCompleteBox {
    list-style: none outside;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    z-index: 999;
}
