/* global */
@import "_variables.less";

html, body {
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    max-width: @app-max-width;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Roboto', 'Helvetica', sans-serif;
}
