/* global */
@import "_variables.less";

html, body {
    margin: 0px auto;
    max-width: @app-max-width;
}


.gs-process-bar {
    width: 100%;
    background: @background-color-major;

    & .gs-process-bar-caption {
        margin: 10px;
    }

    & .gs-process-bar-steps {
        margin-top: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 11px;

        & .gs-process-step {
            vertical-align: middle;
            flex-basis: 1;

            & .gs-process-step-spot {
                display: inline-block;
                height: 12px;
                width: 12px;
                border-radius: 13px 13px;
                background-color: gray;
                color: white;

                &.finished {
                    background-color: orange;
                }
            }

            & .gs-process-step-text {
                display: inline;
            }
        }
    }
}
