@import "_variables.less";

.ProductList {
    padding: 5px;

    & md-grid-tile {
        height: @search-item-height;
        margin-top: 5px;

        & md-grid-tile-header {
            height: 20px;
            font-size: 14px;
            font-weight:bold;
            white-space: nowrap;
            overflow: hidden;
        }

        & md-grid-tile-footer {
            height: 20px;
            font-size: 14px;
            font-weight:bold;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    & IMG {
        width: @search-item-height;
    }
}