@import "_variables.less";


#detail-content {
    & IMG {
        width: 100%;
    }

    & .text-info {
        padding: 5px;

        & .text-name {
            font-size: 18px;
        }

        & .text-variant {
            font-size: 12px;
        }

        & .text-price {
            width: 100%;
            height: 20px;
            line-height: 20px;
            font-size: 18px;
            color: black;

            &:before {
                content: "$";
                font-size: 12px;
            }
        }

        & .text-description {
            padding: 5px;
        }
    }
}