<form name="formContact" novalidate ng-submit="formContact.$valid && regCtrl.SubmitContact()">
    <div layout="row">
        <md-input-container flex>
            <label>姓</label>
            <input name="lastName" required ng-model="regCtrl.OwnerInfo.LastName"  ng-maxlength="50">
            <div ng-messages="formContact.lastName.$error">
                <div ng-message="required">请输入姓</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>名</label>
            <input name="firstName" required ng-model="regCtrl.OwnerInfo.FirstName" ng-maxlength="50">
            <div ng-messages="formContact.firstName.$error">
                <div ng-message="required">请输入名</div>
            </div>
        </md-input-container>
        <md-input-container flex="50">
            <label>手机</label>
            <input name="mobile" required ng-model="regCtrl.OwnerInfo.Mobile" ng-pattern="/^02\d{6,8}$/">
            <div ng-messages="formContact.mobile.$error" role="alert">
                <div ng-message-exp="['required', 'pattern']">
                    请检查手机号码
                </div>
            </div>
        </md-input-container>
    </div>
    <md-input-container class="md-block">
        <label>邮箱</label>
        <input type="email" name="email" required="" ng-model="regCtrl.OwnerInfo.Email" ng-pattern="/^.+@.+\..+$/">
        <div ng-messages="formContact.email.$error" role="alert">
            <div ng-message-exp="['required', 'pattern']">
                请检查邮箱地址
            </div>
        </div>
    </md-input-container>
    <div layout="column" layout-align="center center">
        <md-button type="submit" class="md-raised md-primary" ng-disabled="!formContact.$valid">下一步</md-button>
    </div>
</form>