@{
    Layout = "~/Views/Shared/_OwnerLayout.cshtml";
    Page.Title = "我的小铺";
    var _stall = (Greenspot.Stall.Models.Stall)ViewBag.Stall;
}
<md-content layout-padding>
    <h4>运费</h4>
    @if (_stall.DeliveryPlan != null)
    {
        <div>满 @_stall.DeliveryPlan.FreeDeliveryOrderAmount.Value.ToString("C") 免运费</div>
        <div>默认运费 @_stall.DeliveryPlan.DefaultFee.Value.ToString("C")</div>
    }
</md-content>
