/* global */
html,
body {
  margin: 0px auto;
  max-width: 900px;
  padding: 0px;
  /*
    height: 100%;
    overflow: auto;
    -webkit-touch-callout: none;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}
#main-toolbar {
  height: 35px;
  min-height: 35px;
  max-width: 900px;
  position: fixed;
  top: 0px;
}
#main-toolbar md-button {
  height: 32px;
}
#main-toolbar md-icon {
  width: 24px;
  height: 24px;
}
#main-toolbar .btn-back {
  margin: 0px;
  padding: 0px;
  width: 40px;
  min-width: 40px;
}
#main-toolbar .search-text {
  height: 35px;
}
#main-toolbar .search-text input[type="text"] {
  color: white;
  font-size: 14px;
  font-weight: normal;
  height: 28px;
}
#main-toolbar .text-caption {
  text-align: center;
}
#main-toolbar .btn-search {
  margin: 0px;
  padding: 0px;
  width: 40px;
  min-width: 40px;
}
#main-toolbar .btn-cart {
  margin: 0px;
  padding: 0px;
  width: 40px;
  min-width: 40px;
}
#main-toolbar .btn-cart .cart-amount {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 20px;
  top: 3px;
  width: 18px;
  height: 18px;
  color: black;
  background-color: #FFAB40;
  border-radius: 10px 10px;
  line-height: 20px;
  font-size: 11px;
}
#main-content {
  position: fixed;
  width: 100%;
  max-width: 900px;
  top: 50px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
#bottom-toolbar {
  position: fixed;
  bottom: 0px;
  width: 100%;
}
#bottom-toolbar .amount {
  margin-right: 10px;
  font-size: 16px;
  text-align: right;
  color: #0097A7;
}
#bottom-toolbar .btn-cart {
  margin: 0px;
  padding: 0px;
  width: 60px;
  min-width: 60px;
}
#bottom-toolbar .btn-cart .cart-icon {
  width: 30px;
  height: 30px;
}
#bottom-toolbar .btn-cart .cart-amount {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 30px;
  top: 3px;
  width: 18px;
  height: 18px;
  color: black;
  background-color: #FFAB40;
  border-radius: 10px 10px;
  line-height: 20px;
  font-size: 11px;
}
md-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
