/* global */
html,
body {
  margin: 0px auto;
  max-width: 900px;
  padding: 0px;
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input,
select {
  border: none;
  border-bottom: 1px solid #9E9E9E;
  background-color: #F5F5F5;
}
#main-toolbar {
  position: fixed;
  height: 35px;
  min-height: 35px;
  max-width: 900px;
  top: 0px;
}
#main-toolbar md-button {
  height: 32px;
}
#main-toolbar md-icon {
  width: 24px;
  height: 24px;
}
#main-toolbar .btn-back {
  margin: 0px;
  padding: 0px;
  width: 40px;
  min-width: 40px;
}
#main-toolbar .search-text {
  height: 35px;
}
#main-toolbar .search-text input[type="text"] {
  color: white;
  font-size: 14px;
  font-weight: normal;
  height: 28px;
}
#main-toolbar .text-caption {
  text-align: center;
}
#main-toolbar .btn-search {
  margin: 0px;
  padding: 0px;
  width: 20px;
  min-width: 20px;
}
#main-toolbar .btn-cart {
  margin: 0px;
  padding: 0px;
  width: 40px;
  min-width: 40px;
}
#main-toolbar .btn-cart .cart-amount {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 20px;
  top: 3px;
  width: 18px;
  height: 18px;
  color: black;
  background-color: #EF6C00;
  border-radius: 10px 10px;
  line-height: 20px;
  font-size: 11px;
}
#main-content {
  position: fixed;
  width: 100%;
  max-width: 900px;
  top: 40px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}
#bottom-toolbar {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 40px;
  color: #0097A7;
  background-color: #E0E0E0;
  font-size: 16px;
}
#bottom-toolbar .selectAll {
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
#bottom-toolbar .btn-cart {
  margin: 0px;
  padding-left: 10px;
  width: 60px;
  min-width: 60px;
  text-align: left;
}
#bottom-toolbar .btn-cart .cart-icon {
  width: 30px;
  height: 30px;
}
#bottom-toolbar .btn-cart .cart-amount {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 25px;
  top: 3px;
  width: 18px;
  height: 18px;
  color: white;
  background-color: #0097A7;
  border-radius: 10px 10px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
#bottom-toolbar .btn {
  border: 0px;
  height: 100%;
  color: white;
}
#bottom-toolbar .btn.btn-primary {
  background-color: #0097A7;
}
#bottom-toolbar .btn.btn-accent {
  background-color: #EF6C00;
}
#bottom-toolbar .btn.invalid {
  background-color: #9E9E9E;
}
#bottom-toolbar .total-amount {
  margin-left: 10px;
  font-size: 16px;
}
#bottom-toolbar .total-amount.align-right {
  margin-left: 0px;
  margin-right: 10px;
}
md-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
.loading-circle {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loading-circle > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.loading-circle.big > img {
  width: 100px;
}
