/* global */
[ng-cloak],
.ng-cloak {
  display: none !important;
}
/* global elements*/
html,
body {
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  max-width: 720px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Helvetica, Arial, 'Microsoft YaHei';
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}
input {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  background-color: #F5F5F5;
}
select {
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #E0E0E0;
  background-color: transparent;
}
md-divider {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* global component */
#main-content {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}
#main-content.with-bottom-bar {
  bottom: 40px;
}
#main-content.with-topsearch-bar {
  top: 35px;
}
#bottom-toolbar {
  position: absolute;
  bottom: 0px;
  height: 40px;
  width: 100%;
  max-width: 720px;
  color: #0097A7;
  background-color: #E0E0E0;
  font-size: 1.2rem;
}
#bottom-toolbar .selectAll {
  margin: 0px 0px 0px 10px;
  padding: 0px;
}
#bottom-toolbar .btn-cart {
  margin: 0px;
  padding-left: 10px;
  width: 60px;
  min-width: 60px;
  text-align: left;
}
#bottom-toolbar .btn-cart .cart-icon {
  width: 30px;
  height: 30px;
}
#bottom-toolbar .btn-cart .cart-amount {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 25px;
  top: 3px;
  width: 18px;
  height: 18px;
  color: white;
  background-color: #0097A7;
  border-radius: 10px 10px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
#bottom-toolbar .btn {
  margin: 0px;
  border: 0px;
  height: 100%;
  color: white;
}
#bottom-toolbar .btn.btn-primary {
  background-color: #0097A7;
}
#bottom-toolbar .btn.btn-accent {
  background-color: #EF6C00;
}
#bottom-toolbar .btn.invalid {
  background-color: #9E9E9E;
}
#bottom-toolbar .total-amount {
  margin-left: 10px;
  font-size: 16px;
}
#bottom-toolbar .total-amount.align-right {
  margin-left: 0px;
  margin-right: 10px;
}
#loading-circle.screen-center {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
#loading-circle.screen-center > img {
  margin-top: 150px;
}
#loading-circle.big > img {
  width: 100px;
}
#empty-content {
  padding-top: 50px;
  text-align: center;
  font-size: 2rem;
  color: #9E9E9E;
}
#empty-content:after {
  content: url('/Static/img/logo_darkgrey_96.png');
  margin: 10px;
  display: block;
}
.load-more-bar {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.load-more-bar > button {
  border: none;
  color: #0097A7;
  background-color: transparent;
}
.load-more-bar > span {
  color: #9E9E9E;
}
.ProductList {
  height: 100%;
}
.ProductList .item {
  height: 100px;
  padding: 5px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
}
.ProductList .item .left {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
  text-align: center;
}
.ProductList .item .left > img {
  height: 100%;
}
.ProductList .item .right {
  flex: 1;
  -webkit-flex: 1;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.ProductList .item .right .product-name {
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}
.ProductList .item .right .stall-name {
  color: #9E9E9E;
}
.ProductList .item .right .price-quantity {
  font-size: 1.25rem;
  margin-top: 2px;
}
.ProductList .item .right .price-quantity > span {
  color: #0097A7;
}
.ProductList .item .right .price-quantity > input {
  padding: 0px;
  margin: 0px;
}
.ProductList .item .right .operation {
  margin-top: 3px;
}
.ProductList .item .right .operation > button {
  padding: 0px;
  border: none;
  color: #EF6C00;
  background-color: transparent;
}
