#home-content {
  padding: 5px;
  height: 100%;
}
#home-content .search-bar {
  font-size: 13px;
}
#home-content .search-bar .search-text {
  margin-left: 5px;
}
#home-content .search-bar .btn-search {
  margin: 0px;
  padding: 0px;
  width: 40px;
  min-width: 40px;
}
#home-content .section-caption {
  color: #0097A7;
  text-align: center;
}
.banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  color: #E0E0E0;
  background: #0097A7;
  padding-top: 5px;
  text-align: center;
}
.banner IMG.logo {
  height: 96px;
}
.category-list {
  position: absolute;
  top: 100px;
  left: 0px;
  right: 0px;
  bottom: 40px;
}
.category-list .category:nth-child(2n+2) {
  background-color: #E0E0E0;
}
.category-list .category:nth-child(2n+2) .category-image {
  float: right;
}
.category-list .category:nth-child(2n+2) .category-name {
  float: left;
  margin-left: 15px;
  margin-right: 0px;
  text-align: left;
}
.category-list .category .category-image {
  margin: 15px;
  height: 120px;
}
.category-list .category .category-name {
  color: #0097A7;
  font-size: 40px;
  font-weight: bold;
  width: 100px;
  float: right;
  margin-right: 15px;
  text-align: right;
}
#bottom-toolbar.footer-banner {
  font-size: 16px;
  color: #F5F5F5;
  background-color: #0097A7;
}
#search-result {
  height: 100%;
}
.coming-soon {
  width: 100%;
  height: 100px;
  vertical-align: middle;
  text-align: center;
  color: #0097A7;
}
