#detail-content IMG {
  width: 100%;
}
#detail-content .text-info {
  padding: 5px;
}
#detail-content .text-info .text-name {
  font-size: 18px;
}
#detail-content .text-info .text-variant {
  font-size: 12px;
}
#detail-content .text-info .text-price {
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color: black;
}
#detail-content .text-info .text-price:before {
  content: "$";
  font-size: 12px;
}
#detail-content .text-info .text-description {
  padding: 5px;
}
