@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    Page.Controller = "HomeController";
    Page.Title = string.Format("{0} | 久等了", "H".Equals(Request["c"]) ? "私房自助" : "餐厅外卖");
}
<form id="search-bar" ng-submit="ctrl.search(10,10)">
    <select ng-model="ctrl.searchCondition.area" ng-change="ctrl.loadRecommendStalls()">
        <option value="NZ-Auckland" selected>奥克兰</option>
        <option value="NZ-Auckland-Auckland City">奥克兰City</option>
        <option value="NZ-Auckland-Central Auckland">奥克兰中区</option>
        <option value="NZ-Auckland-North Shore">奥克兰北岸</option>
        <option value="NZ-Auckland-East Auckland">奥克兰东区</option>
        <option value="NZ-Auckland-West Auckland">奥克兰西区</option>
        <option value="NZ-Auckland-South Auckland">奥克兰南区</option>
    </select>
    <input class="search-text" type="text" placeholder="搜索" ng-model="ctrl.searchCondition.keyword">
    <md-button type="submit" class="btn-search" aria-label="Search">
        <md-icon md-svg-icon="search"></md-icon>
    </md-button>
</form>

<div id="main-content" class="with-bottom-bar with-topsearch-bar">
    <!-- recommend stall -->
    <div ng-if="ctrl.searchCondition.isRecommend && ctrl.recommendStalls.hasRecord">
        <div class="section-caption">最新 | 推荐</div>
        <md-card ng-repeat="stall in ctrl.recommendStalls.items" ng-click="gotoUrl('/stall/' + stall.Id)">
            <md-card-title>
                <md-card-title-text layout-align="space-between center">
                    <span class="md-headline">{{stall.Name}}</span>
                    <span class="md-subhead" ng-repeat="product in stall.Products">
                        {{product.Name}}
                    </span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-md card-media">
                        <img src="/Static/img/logo_grey_96.png" ng-src="/stalls/{{stall.Id}}/avatar.png" />
                    </div>
                </md-card-title-media>
            </md-card-title>
        </md-card>
    </div>

    <!-- search -->
    <md-tabs id="search-result" md-border-bottom md-stretch-tabs="always" ng-if="ctrl.matchedStalls || ctrl.matchedProducts">
        <!-- product search result -->
        <md-tab label="菜品" ng-if="ctrl.matchedProducts.items">
            <div class="ProductList">
                <div class="item" ng-repeat="product in ctrl.matchedProducts.items track by product.Id">
                    <div class="left">
                        <img src="/Static/img/logo_grey_96.png" ng-src="{{product.Image}}" ng-click="gotoUrl('/product/' + product.Id)" />
                    </div>
                    <div class="right">
                        <div class="product-name" ng-click="gotoUrl('/product/' + product.Id)">{{product.Name}}</div>
                        <div class="stall-name">{{product.StallName}}</div>
                        <div class="price-quantity">
                            <span>{{product.Price|currency:$}}</span>
                            <select ng-model="product.Quantity">
                                <option ng-repeat="n in product.QuantityOptions track by $index" value="{{$index+1}}">
                                    ×{{$index+1}}
                                </option>
                            </select>
                        </div>
                        <div class="operation">
                            <button ng-click="ctrl.cart.add({stallId:product.StallId, stallName:product.StallName,
                                                id:product.Id, name:product.Name,price:product.Price, variant:''}, product.Quantity)">
                                加入购物车
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="load-more-bar" ng-if="!ctrl.isLoading()">
                <button ng-click="ctrl.loadMoreProduct()" ng-if="ctrl.matchedProducts.hasMore">显示更多菜品</button>
                <span ng-if="!ctrl.matchedProducts.hasMore">没有更多相关菜品了</span>
            </div>
            <div class="section-caption" ng-if="!ctrl.isLoading() && ctrl.noMatchedProducts">
                没有找到相关菜品，换个关键字试试？
            </div>
        </md-tab>
        <!-- product stall result -->
        <md-tab label="餐厅" ng-if="ctrl.matchedStalls.items">
            <md-list flex ng-if="ctrl.matchedStalls.items.length">
                <md-list-item class="md-2-line" ng-repeat="stall in ctrl.matchedStalls.items track by stall.Id" ng-click="gotoUrl('/stall/' + stall.Id)">
                    <img src="/Static/img/logo_grey_96.png" ng-src="/stalls/{{stall.Id}}/avatar.png" class="md-avatar" alt="{{stall.Name}}" />
                    <div class="md-list-item-text">
                        <h3>{{stall.Name}}</h3>
                    </div>
                </md-list-item>
            </md-list>
            <div class="load-more-bar" ng-if="!ctrl.isLoading()">
                <button ng-click="ctrl.loadMoreStall()" ng-if="ctrl.matchedStalls.hasMore">显示更多餐厅</button>
                <span ng-if="!ctrl.matchedStalls.hasMore">没有更多相关餐厅了</span>
            </div>
            <div class="section-caption" ng-if="!ctrl.isLoading() &&　ctrl.noMatchedStalls">
                没有找到相关餐厅，换个关键字试试？
            </div>
        </md-tab>
    </md-tabs>
</div>

<!-- no recommend stall -->
<div id="empty-content" ng-if="!ctrl.isLoading() && ctrl.searchCondition.isRecommend && !ctrl.recommendStalls.hasRecord">
    暂时没有餐厅
</div>