<!DOCTYPE html>
<html lang="en" ng-app="greenspotStall" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="description" content="外卖 Takeaway Homemade">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">
    <title>@Page.Title</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.css">
    <!-- platform stylesheet -->
    <link rel="stylesheet" href="/static/css/stall.min.css">
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="~/Content/less/customer.less">
        <link rel="stylesheet/less" href="~/Content/less/home.less">
    }
    else
    {
        <link rel="stylesheet" href="~/static/css/stall.min.css">
    }

</head>
<body ng-controller="@Page.Controller as ctrl" ng-init="ctrl.init()">
    @RenderBody()
    <div id="bottom-step"></div>
    <!--bottom tool bar-->
    <div id="bottom-toolbar" layout="row" layout-align="space-between center">
        <md-button class="btn-cart" aria-label="Cart" ng-click="gotoUrl('/customer/cart')" flex="60">
            <span class="cart-amount" ng-if="ctrl.cart.qty>0">{{ctrl.cart.qty}}</span>
            <md-icon md-svg-icon="cart"></md-icon>
            <span class="total-amount">合计: {{ctrl.cart.totalAmount()|currency:$}}</span>
        </md-button>
        <button ng-click="gotoUrl('/customer/cart')" class="btn btn-primary" ng-class="{'invalid':ctrl.cart.qty<=0}" flex="40"
                ng-disabled="ctrl.cart.qty<=0">
            结账
        </button>
    </div>
    <div id="loading-circle" class="big screen-center" ng-if="loadingCircle">
        <img src="~/Static/img/loading.gif" />
    </div>
    <!-- 3rd party libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc4/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.2/js.cookie.min.js"></script>

    <!-- owner scripts -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="~/static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/cart.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/order.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/Utilities.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/controller/customer.controller.js"></script>
        <script type="text/javascript" src="~/Content/middle-js/controller/home.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/static/js/stall.min.js"></script>
    }
</body>
</html>