@{
}
<!DOCTYPE html>

<html lang="en" ng-app="greenspotStall" ng-cloak ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/">
    <title>管理地址</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css" />

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/customer.less">
        <link rel="stylesheet/less" href="/Content/less/home.less">
    }
    else
    {
        <link rel="stylesheet" href="/static/css/stall.min.css">
    }
</head>
<body ng-controller="CustomerAddressController as custCtrl" ng-init="custCtrl.init_address()">
    <md-content id="checkout-content">
        <form id="formEditAddress" name="formEditAddress" novalidate ng-submit="formEditAddress.$valid && custCtrl.addAddress($event)">
            <div layout="row">
                <md-input-container flex>
                    <label>姓名</label>
                    <input name="fullName" required ng-model="custCtrl.editAddress.FullName" ng-maxlength="50">
                    <div ng-messages="formEditAddress.fullName.$error">
                        <div ng-message="required">请输入姓名</div>
                    </div>
                </md-input-container>
                <md-input-container flex="50">
                    <label>手机</label>
                    <input name="mobile" required ng-model="custCtrl.editAddress.Mobile" ng-pattern="/^02\d{6,9}$/">
                    <div ng-messages="formEditAddress.mobile.$error" role="alert">
                        <div ng-message-exp="['required', 'pattern']">
                            请检查手机号码
                        </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>地址</label>
                    <input id="address1" name="address1" required ng-model="custCtrl.editAddress.Address" ng-maxlength="200" placeholder=""
                           address-checker place-on-select="custCtrl.addressSelected()" address-object="custCtrl.editAddress.AddressObject">
                    <div ng-messages="formEditAddress.address.$error">
                        <div ng-message="required">请输入地址</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex="60">
                    <label>室号 / 楼层 / 公司名称 / 其他</label>
                    <input id="address2" name="address2" ng-model="custCtrl.editAddress.Address2" ng-maxlength="200">
                </md-input-container>
                <md-input-container flex="40" ng-if="custCtrl.editAddress.SelectedAreaName">
                    <label>区域</label>
                    <input ng-model="custCtrl.editAddress.SelectedAreaName" readonly ng-click="custCtrl.selectArea()">
                </md-input-container>
            </div>
            <div layout="column" layout-align="center center">
                <md-button type="submit" class="md-raised md-primary" ng-disabled="!formEditAddress.$valid">添加</md-button>
            </div>
        </form>
        <div class="delivery-info">
            <div class="address-option" ng-repeat="addr in custCtrl.deliveryAddresses">
                <md-divider></md-divider>
                <div class="address-text">
                    <div><b>{{addr.Name}}, {{addr.Mobile}}</b></div>
                    <div>{{addr.FullAddress}}</div>
                </div>
            </div>
        </div>
    </md-content>

    <!-- 3rd party stylesheet -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.5.8/angular-messages.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
    <script type="text/javascript" src="https://address.nzpost.co.nz/assets/checker.js"></script>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="/Content/middle-js/cart.js"></script>
        <script type="text/javascript" src="/Content/middle-js/order.js"></script>
        <script type="text/javascript" src="/Content/middle-js/Utilities.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer-address.controller.js"></script>
        <script type="text/javascript" src="/Content/middle-js/plugin/addressAutoComplete.nzpost.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/static/js/stall.min.js"></script>
    }
</body>
</html>