@using Newtonsoft.Json;
@{
    var _orders = (IList<Greenspot.Stall.Models.Order>)ViewBag.Orders;
}
<!DOCTYPE html>

<html lang="en" ng-app="greenspotStall" ng-cloak>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Stall@Greenspot">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <base href="/">
    <title>订单</title>

    <link rel="shortcut icon" href="/static/img/favicon.png">

    <!-- 3rd party stylesheet -->
    <link rel="stylesheet" href="/static/lib/angular-material/angular-material.min.css">
    <!-- platform stylesheet -->

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet/less" href="/Content/less/global.less">
        <link rel="stylesheet/less" href="/Content/less/customer.less">
    }
    else
    {
        <link rel="stylesheet" href="/Static/css/stall.min.css">
    }

</head>
<body>
    <md-toolbar id="stall-toolbar" class="md-primary" layout="row" layout-align="center center">
        <div class="stall-text">
            <div class="stall-text-line-1">
                我的订单
            </div>
        </div>
    </md-toolbar>
    <md-content id="cart-content">
        @if (_orders == null || _orders.Count == 0)
        {
            <div>
                <h3>没有订单</h3>
            </div>
        }
        else
        {
            foreach(var o in _orders)
            {
                <div layout="row">
                    <span flex>@o.Id</span>
                    <span flex>@string.Format("{0:HH:mm ddMMM}",o.PaidTime)</span>
                    <span flex>@(o.Stall?.Name)</span>
                    <span flex>@o.TotalCharge.ToString("$0.00")</span>
                </div>
            }
        }
    </md-content>
    
    <!-- 3rd party libraries -->
    <script type="text/javascript" src="/Static/lib/jQuery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular/angular.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="/Static/lib/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="/Static/lib/js-cookie/src/js.cookie.js"></script>

    <!-- owner scripts -->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script type="text/javascript" src="/Static/lib/less/dist/less.min.js"></script>
        <script type="text/javascript" src="/Content/middle-js/app.js"></script>
        <script type="text/javascript" src="/Content/middle-js/controller/customer.controller.js"></script>
    }
    else
    {
        <script type="text/javascript" src="/Static/js/stall.min.js"></script>
    }
</body>
</html>