<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="greenspot" type="Greenspot.Configuration.GreenspotConfiguration, Greenspot.Common" allowLocation="true" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="StallEntities" connectionString="server=localhost;user id=root;database=greenspot_stall;CharSet=utf8;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
  <!-- greenspot config -->
  <greenspot>
    <payment fullCharge="false" discount="0.9" exchangeRateCNY="4.3" />
    <accessAccounts>
      <add type="wechat" id="wx8f0f03f3f09da028" secret="d4624c36b6795d1d99dcf0547af5443d" />
      <!--add type="wechat" id="wx4965c136969ac3bd" secret="03fc1d6e4c140aac3a81a5803303dac5" /-->
      <add type="pxpay" id="Cyberpark" secret="1cf77dcb55854b0dd9e12782c844c05f11a4e49a61571037b91ee9720d514de7" />
      <add type="vend" id="W2KrQAxMOCVNDHJeOU4J7avVCRdbop9n" secret="79ZIk7sdnCUVqxqdSvpecAvzYb73HQW6" redirectUri="http://192.168.18.102/owner/connect" />
    </accessAccounts>
    <directories>
      <add name="temp" value="e:\temp\" />
    </directories>
    <appSetttings>
      <add key="rootUrl" value="http://192.168.18.102/" />
      <!-- add key="wechatAuthUrl" value="http://shanghu.kiwinetcom.com/auth/I8UE" /-->
      <add key="wechatAuthUrl" value="http://shanghu.kiwinetcom.com/auth/YKTP/" />
      <add key="PaymentExpress.PxPay" value="https://sec.paymentexpress.com/pxaccess/pxpay.aspx" />
      <add key="webhook.product.update" value="http://stall.greenspot.net.nz/api/webhook/ProductUpdate" />
      <add key="webhook.inventory.update" value="http://stall.greenspot.net.nz/api/webhook/InventoryUpdate" />
      <add key="fakeLogin" value="true" />
    </appSetttings>
  </greenspot>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>